*{
    font-family: 'Comic Neue', cursive;
}


#titulo{
    font-size: 70px;
    margin-bottom: -3px;
    margin-top: -10px;
}

p {
    font-weight: 800;
}


#banner {
    width: 1500px;
    height: 300px;
    object-fit: cover;
}

nav {
    position: absolute;
    right: 35px;
    top: 60px;
}

button{
    background-color:#4472c4;
    color:#fff;
    box-shadow: 2px 5px 0px 0px #999999;
    font-size: 20px;
}
button:active{
    background-color: #70ad47;
}

#btn-about{
    background-color: #70ad47;
}

#btn-contact{
    background-color: #70ad47;
}
#btn-home{
    background-color: #70ad47;
}
#titulo-secundario{
    text-align: center;
    border: 2px solid #000;
    width: 1500px;
    margin-top: 2px;
}

#logo{
    max-width:10%;
    display: inline-block;
}

.calendario{
    display: inline-block;
    position: absolute;
    left: 250px;
}

.mision{
    display: inline-block;
    text-align: justify;
    position: absolute;
    left: 200px;
}

.contacto{
    display: inline-block;
    position: absolute;
    left: 250px;
    top: 450px;
}